; D:\Личная\0scripts\ps\knock\knock-2.ps1.cfgфайл конфигурации для шагов PORT KNOCKING
; в icmp length = реальный + 28 байт
; например  в Mikrotik`e если пакет должен быть 44, тогда length д.б. 44-28 - 16
; Секции в файле двух видов:
; 	1) Один шаг. Описание одного шага для порт knock. Протокол (icmp, udp, tcp)
;	   и данные для этого шага (port для udp, tcp и длина пакета для icmp)
; 	2) Список шагов. Список шагов из секций 1-го типа
; 1) Один шаг:
;	[step]
;	proto=tcp, по умолчанию udp
;	port=nnnn, значение от 1-65535, порт для tcp, udp 
;	length=nn, длина пакета icmp, реальный + 28 байт заголовок
; 2) Список шагов:
;	[steps]
;	1=step1
;	2=step12
;	3=step13
;	4=step14
;	host=host1.xxx
;	Имя параметра(числового) указывает порядок отправки пакета. Значение имя секции типа "Один шаг" с данными пакета отправки
;	Параметр host (необязательный) указывает адрес куда отправлять пакет. Переопределяется параметром скрипта knock.ps1 -RemoteHost
;

[steps1]
1=step1
3=step2
2=step10
4=step280u
5=step19

;==============================
[home-12h]
1=step57u
2=step87u
3=step62u
4=step28u
host=hostname.dom

[step57u]
port=57

[step87u]
port=87

[step280u]
port=280

[step62u]
port=62
;==============================

;==============================
[home-24h]
1=step574u
2=step891t
3=step622t
4=step28u
host=hostname.dom

[step574u]
proto=udp
port=574

[step891t]
proto=tcp
port=891

[step622t]
proto=tcp
port=622

[step28u]
port=28
;==============================

;==============================
[home-icmp-1h]
1=step44i
2=step71i
3=step15i
4=step1i
5=step8i
host=hostname.dom

[step44i]
; в icmp length = реальный + 28 байт
; т.е. если пакет в роутере должен быть 44, тогда length д.б. 44-28 - 16
proto=icmp
length=44

[step71i]
proto=icmp
length=71

[step15i]
proto=icmp
length=15

[step1i]
proto=icmp
length=1

[step5i]
proto=icmp
length=5

[step8i]
proto=icmp
length=8
;==============================
